@use '../components/' as *;

.chart__score {
  background-color: color('light', 'darker', 'I');
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &-title {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
  }

  &-fill {
    fill: color('primary');
    stroke: color('primary');
  }

  &-legend {
    &-amount {
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      color: color('dark', 'lighter', 'I');
    }

    &-text {
      display: flex;
      justify-content: space-around;
      color: color('dark', 'lighter', 'II');
    }
  }
}
