@use '../components/' as *;

.chart {
  border-radius: 0.75rem;
  overflow: hidden;

  &__activity {
    background-color: color('light', 'darker', 'I');
    padding: 1.5rem;

    &--burntCalories {
      fill: color('primary');
    }

    &--weight {
      fill: color('dark', 'lighter', 'I');
    }

    &-legend {
      display: flex;
      justify-content: space-between;
      padding-right: 1rem;

      &-title {
        font-size: 1rem;
      }

      &-description {
        display: flex;
        gap: 1rem;

        &-item {
          display: flex;
          gap: 0.5rem;
          align-items: center;
        }

        &-text {
          color: color('dark', 'lighter', 'II');
          font-weight: 500;
        }

        &-circle {
          &--burntCalories {
            fill: color('primary');
          }

          &--weight {
            fill: color('dark', 'lighter', 'I');
          }
        }
      }
    }

    // edit Recharts
    & .recharts-cartesian-axis-tick-value {
      fill: color('dark', 'lighter', 'II');
    }
    & .recharts-cartesian-axis-line,
    & .recharts-cartesian-grid-horizontal line {
      stroke: color('dark', 'lighter', 'II');
    }
  }

  &__sessions {
    background-color: color('primary');
    background-image: linear-gradient(
      to right,
      color('primary') calc(calc(100% / 7) * 5),
      color('primary', 'darker') calc(calc(100% / 7) * 5)
    );
    padding: 1rem;

    &-title {
      color: color('light');
      font-size: 1rem;
      padding: 0 1rem;
    }

    &--length path {
      stroke: color('light')
    }

    // edit Recharts
    & .recharts-cartesian-axis-tick-value,
    & .recharts-dot {
      fill: color('light');
    }
  }

  &__performance {
    background-color: color('dark', 'lighter', 'I');
    display: flex;
    justify-content: center;

    &-fill {
      fill: color('primary');
      opacity: 0.7;
    }

    // edit Recharts
    & .recharts-polar-angle-axis-tick-value {
      fill: color('light');
      font-size: 0.75rem;
      padding: 0.25rem;
    }
    & .recharts-polar-grid-concentric path {
      stroke: color('light');
    }
    & .recharts-polar-grid-angle {
      display: none;
    }
  }

  &__score {
    background-color: color('light', 'darker', 'I');

    &-title {
      position: absolute;
      top: -5.5rem;
      left: 1.5rem;
      font-size: 1rem;
    }

    &-fill {
      fill: color('primary');
      stroke: color('primary');
    }

    &-legend {
      &-amount {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        color: color('dark', 'lighter', 'I')
      }

      &-text {
        display: flex;
        justify-content: space-around;
        color: color('dark', 'lighter', 'II')
      }
    }
  }
}
