@use '../components/' as *;

.chart {
  border-radius: 0.75rem;
  overflow: hidden;

  &__daily {
    background-color: color('light', 'darker', 'I');
    padding: 1.5rem;

    &--burntCalories {
      fill: color('primary');
    }

    &--weight {
      fill: color('dark', 'lighter', 'I');
    }

    &-legend {
      display: flex;
      justify-content: space-between;
      padding-right: 1rem;

      &-title {
        font-size: 1rem;
      }

      &-description {
        display: flex;
        gap: 1rem;

        &-item {
          display: flex;
          gap: 0.5rem;
          align-items: center;
        }

        &-text {
          color: color('dark', 'lighter', 'II');
          font-weight: 500;
        }

        &-circle {
          &--burntCalories {
            fill: color('primary');
          }

          &--weight {
            fill: color('dark', 'lighter', 'I');
          }
        }
      }
    }

    // edit Recharts
    & .recharts-cartesian-axis-tick-value {
      fill: color('dark', 'lighter', 'II');
    }
    & .recharts-cartesian-axis-line,
    & .recharts-cartesian-grid-horizontal line {
      stroke: color('dark', 'lighter', 'II');
    }
  }

  &__duration {
    background-color: color('primary');
    background-image: linear-gradient(
      to right,
      color('primary') calc(calc(100% / 7) * 5),
      color('primary', 'darker') calc(calc(100% / 7) * 5)
    );
    padding: 1rem;

    &-title {
      color: color('light');
      font-size: 1rem;
      padding: 0 1rem;
    }

    &--length path {
      stroke: color('light')
    }

    // edit Recharts
    & .recharts-cartesian-axis-tick-value,
    & .recharts-dot {
      fill: color('light');
    }
  }
}
