@use '../components/' as *;

.sidebar {
  background-color: color('dark');
  box-shadow: 0 0 1rem color('dark');
  width: 6.25rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  margin-top: calc(6.25rem + 2px);
  overflow: hidden;

  &__navigation {
    height: 100%;
  }

  &__menu {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1.25rem;

    &-link {
      width: 4rem;
      aspect-ratio: 1/1;
      background-color: color('light');
      border-radius: 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &--active {
        box-shadow: inset 0 0 2rem hslac(color('primary'), 0.5);
        pointer-events: none;
      }
    }

    &-image {
      width: 2.25rem;
      aspect-ratio: 1/1;
      object-position: center;
      object-fit: contain;
    }
  }

  &__copyright {
    padding: 3rem 2rem;
    background-color: color('dark');
    color: color('light');
    font-weight: 500;
    font-size: 0.75rem;
    width: max-content;
    transform: rotate(-90deg);
    margin: 2.5rem 0;
  }
}
