@use '../components/' as *;

.welcome {
  margin-bottom: 1rem;

  &__title {
    font-size: 3rem;
    font-weight: 500;
    margin-block: -0.75rem 2rem;

    &--highlight {
      color: color('primary');
    }
  }
}
